.nav-label {
  margin-right: 8px;
}
.nav-dashboard-links {
  color: white;
  margin-right: 12px;
}
.toolbar-spacer {
  flex: 1;
}
.nav-class {
  min-width: 200px;
  display: flex;
  flex-wrap: wrap;
}
